body {
    width: 600px;
    margin: 0 auto;
    background: rgb(221, 221, 221);
    color: rgb(46, 46, 46);
    overscroll-behavior: auto;
}

p {
    font-family: sans-serif;
    font-size: 16px;
}

code.one_off {
    font-family: "Fira Code", monospace;
    font-size: 16px;
    color:rgb(179, 0, 0);
}

